%h1
	Listing <%= plural_table_name %>
	%small
		= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path

.table-responsive
	%table.table.table-hover.table-striped.tablesorter
		%thead
			%tr
<% for attribute in attributes -%>
				%th
					<%= attribute.human_name %>
					%i.fa.fa-sort
<% end -%>
				%th

		%tbody
			- @<%= plural_table_name %>.each do |<%= singular_table_name %>|
				%tr
<% for attribute in attributes -%>
					%td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
					%td
						%small
							= link_to 'Show', <%= singular_table_name %>
							\|
							= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
							\|
							= link_to 'Destroy', <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'Are you sure?' }
